<!DOCTYPE html>
<html>
 <head>
 	<meta charset="utf-8"/>
	<title>Minas Cheese</title>
	<link rel="icon" type="image/png" th:href="@{/imagens/comum/logomarca.png}">
	<link th:href="@{/styles/indexCss.css}" rel="stylesheet"/>
	<script type="text/javascript" th:src="@{/js/redirect.js}"></script>
	<script type="text/javascript" th:src="@{/js/indexJs.js}"></script>
	<!--<script type="text/javascript" th:src="@{/js/scrolling.js}"></script> -->
 </head>
 <body>
 	<div id="menuTopSistema">
 		<div class="buttonMenuSistemaProfile">
			<img th:src="@{/imagens/comum/iconePerfil.png}" id="iconePerfil" class="iconeMenuSistema"/>
		</div>
		<div class="buttonMenuSistema">
			<img th:src="@{/imagens/comum/iconeHelp.png}" id="iconeHelp" class="iconeMenuSistema"/>
		</div>
		<div class="buttonMenuSistema">
			<img th:src="@{/imagens/comum/iconeLocation.png}" id="iconeLocation" class="iconeMenuSistema"/>
		</div>
		<div class="buttonMenuSistema">
			<img th:src="@{/imagens/comum/iconeEncomenda.png}" id="iconeEncomenda" class="iconeMenuSistema"/>
		</div>
 	</div>
	<div id="menuTopNavigation">
		<div class="buttonMenuNavigation">
			<span class="textButtonMenu">Paes comums</span>
			<div class="primeiroBLocoDeNavegacao">
			
			</div>
			<div class="segundoBlocoDeNavegacao">
			
			</div>
		</div>
		<div class="buttonMenuNavigation">
			<span class="textButtonMenu">Paes especiais</span>
		</div>
		<div class="buttonMenuNavigation">
			<span class="textButtonMenu">Lanches</span>
		</div>
		<div class="buttonMenuNavigation">
			<span class="textButtonMenu">Café da manhã</span>
		</div>
		<div class="buttonMenuNavigation">
			<span class="textButtonMenu">Encomendar</span>
		</div>
		<div class="buttonMenuNavigation">
			<span class="textButtonMenu">Salgados</span>
		</div>
	</div>
	<header>
		<img th:src="@{/imagens/index/backgroundPaes.png}" id="backgroundHeader"/>
		<img th:src="@{/imagens/comum/logomarca.png}" id="logomarca"/>
		<div id="blockJuncao">
			<img th:src="@{/imagens/index/juncaoLogomarcaIndex.png}" id="juncaoLogomarca"/>
			<span id="textHeader">Bem vindo ao nosos mundo! Aqui produziremos suas melhores refeições
			e experiências. Atendemos 24h com horários especiais como café da manhã e horário do lanche.
			Nossas especialidades são os pães franceses e paezinhos de queijo, Nosso segredo está na massa
			que é totalmente manipulada por nossas mãos, Servimos diversas formas de pães, tamanhos e recheios.</span>
		</div>
	</header>
	<section>
		<article id="articlePaes">
			<span id="titleArticlePaes"></span>
			<span id="contentArtcielPaes"></span>
		</article>
	
	</section>
	<section>
	
	</section>
 </body>
</html>