<!DOCTYPE html>
<html>
 <head>
 	<meta charset="utf-8"/>
	<title>Minas Cheese</title>
	<link rel="icon" type="image/png" th:href="@{/imagens/comum/logomarca.png}">
	<link th:href="@{/styles/indexCss.css}" rel="stylesheet"/>
	<link th:href="@{/styles/menuNavigation.css}" rel="stylesheet"/>
	<script type="text/javascript" th:src="@{/js/redirect.js}"></script>
	<script type="text/javascript" th:src="@{/js/indexJs.js}"></script>
	<script type="text/javascript" th:src="@{/js/resourcesConteudosProdutos.js}"></script>
	<script type="text/javascript" th:src="@{/js/menuNavigation.js}"></script>
	<!--<script type="text/javascript" th:src="@{/js/scrolling.js}"></script> -->
 </head>
 <body>
 	<div id="menuTopSistema">
 		<div class="buttonMenuSistemaProfile">
			<img th:src="@{/imagens/comum/iconePerfil.png}" id="iconePerfil" class="iconeMenuSistema"/>
		</div>
		<div class="buttonMenuSistema">
			<img th:src="@{/imagens/comum/iconeHelp.png}" id="iconeHelp" class="iconeMenuSistema"/>
		</div>
		<div class="buttonMenuSistema">
			<img th:src="@{/imagens/comum/iconeLocation.png}" id="iconeLocation" class="iconeMenuSistema"/>
		</div>
		<div class="buttonMenuSistema">
			<img th:src="@{/imagens/comum/iconeEncomenda.png}" id="iconeEncomenda" class="iconeMenuSistema"/>
		</div>
 	</div>
	<div id="menuTopNavigation">
		<div class="buttonMenuNavigation" id="button-PaesComuns" onmouseover="funcaoOnMouseOverObjetoMenuNavigatio('PaesComuns')"
		onmouseleave="funcaoOnMouseLeaveObjetoMenuNavigatio('PaesComuns')">
			<span class="textButtonMenu">Paes comums</span>
			<div class="primeiroBLocoDeNavegacao" id="blocoPaesComuns1">
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao" id="centeio">Centeio</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao" id="marraqueta">Marraqueta</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao" id="frances">Frances</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao" id="hallula">Hallula</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao" id="aveia">Aveia</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao" id="linhaca">Linhaça</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao" id="chia">Chia</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao" id="alentejano">Alentejano</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao" id="paoPreto">Pão preto</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao" id="australiano">Australiano</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao" id="ciabatta">Ciabatta</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao" id="focaccia">Focaccia</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao" id="brioche">Brioche</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao" id="baguete">Baguete</span>
				</div>
			</div>
			<div class="segundoBlocoDeNavegacao" id="blocoPaesComuns2">
			</div>
		</div>
		<div class="buttonMenuNavigation" id="button-Especiais" onmouseover="funcaoOnMouseOverObjetoMenuNavigatio('Especiais')"
		onmouseleave="funcaoOnMouseLeaveObjetoMenuNavigatio('Especiais')">
			<span class="textButtonMenu">Especiais</span>
			<div class="primeiroBLocoDeNavegacao" id="blocoEspeciais1">
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">Pão de queijo</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao" style="left:12%;">Com Mortadela</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">Na Chapa</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao" style="left:12%;">Com Requeijão</span>
				</div>
			</div>
			<div class="segundoBlocoDeNavegacao" id="blocoEspeciais2">
			</div>
		</div>
		<div class="buttonMenuNavigation" id="buttonLanches" onmouseover="funcaoOnMouseOverObjetoMenuNavigatio('Lanches')"
		onmouseleave="funcaoOnMouseLeaveObjetoMenuNavigatio('Lanches')">
			<span class="textButtonMenu">Lanches</span>
			<div class="primeiroBLocoDeNavegacao" id="blocoLanches1">
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">X-Burguer</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">X-Salada</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">X-Egg</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">X-Dog</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">X-Frango</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">X-Calabresa</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">X-Coração</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">X-Bacon</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">X-Gaúcho</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">X-Costela</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">X-Tudo</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">Hot-dog</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">X-Churrasco</span>
				</div>
			</div>
			<div class="segundoBlocoDeNavegacao" id="blocoLanches2">
			</div>
		</div>
		<div class="buttonMenuNavigation" id="button-Bebidas" onmouseover="funcaoOnMouseOverObjetoMenuNavigatio('Bebidas')"
		onmouseleave="funcaoOnMouseLeaveObjetoMenuNavigatio('Bebidas')">
			<span class="textButtonMenu">Bebidas</span>
			<div class="primeiroBLocoDeNavegacao" id="blocoBebidas1">
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">Expresso</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">Macchiato</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">Americano</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">Cappucino</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">Fredo</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">Mocha</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">Abacaxi</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">Acerola</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">Maçã</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">Laranja</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">Melancia</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">Limão c/erva</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">Morango</span>
				</div>
					<div class="coluna1">
					<span class="textoTopicoMenuNavegacao" style="left:7%;">Abacaxi c/ortelã</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">Coca-cola</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">Fanta</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">Uva</span>
				</div>
			</div>
			<div class="segundoBlocoDeNavegacao" id="blocoBebidas2">
			</div>
		</div>
		<div class="buttonMenuNavigation" id="button-Salgados" onmouseover="funcaoOnMouseOverObjetoMenuNavigatio('Salgados')"
		onmouseleave="funcaoOnMouseLeaveObjetoMenuNavigatio('Salgados')">
			<span class="textButtonMenu">Salgados</span>
			<div class="primeiroBLocoDeNavegacao" id="blocoSalgados1">
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">Coxinha</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">Risole</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">Quibe</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao" style="font-size:110%;left:8%;">Bolinho de queijo</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">Empada</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">Esfirra</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">Enrolados</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">Pastelzinho</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">Bauru</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">Empanados</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao" style="font-size:110%;top:7%;">Bolinho d/Mandioca</span>
				</div>
			</div>
			<div class="segundoBlocoDeNavegacao" id="blocoSalgados2">
			</div>
		</div>
		<div class="buttonMenuNavigation" id="button-Encomendar">
			<span class="textButtonMenu">Encomendar</span>
		</div>
	</div>
	<header>
		<img th:src="@{/imagens/index/backgroundPaes.png}" id="backgroundHeader"/>
		<img th:src="@{/imagens/comum/logomarca.png}" id="logomarca"/>
		<div id="blockJuncao">
			<img th:src="@{/imagens/index/juncaoLogomarcaIndex.png}" id="juncaoLogomarca"/>
			<span id="textHeader">Bem vindo ao nosos mundo! Aqui produziremos suas melhores refeições
			e experiências. Atendemos 24h com horários especiais como café da manhã e horário do lanche.
			Nossas especialidades são os pães franceses e paezinhos de queijo, Nosso segredo está na massa
			que é totalmente manipulada por nossas mãos, Servimos diversas formas de pães, tamanhos e recheios.</span>
		</div>
	</header>
	<section>
		<article id="articlePaes">
			<img th:src="@{/imagens/index/backgroundArticle1.png}" id="backgroundArticle1">
			<span id="titleArticlePaes">Café da manhã...</span>
			<span id="contentArticlePaes">Servimos as refeições para fazer uma manhã perfeita para você, cafés
			de todos os gostos, sucos naturais e bebidas prontas, também servimos os melhores pães da região,
			preparados para consumir no local ou para levar também como por exemplo um pão com mortadela acompanhado
			de um café com leite. Venha conhecer o local e entender melhor os produtos aqui servidos fresquinhos.</span>
		</article>
	
	</section>
	<section>
	
	</section>
 </body>
</html>