<!DOCTYPE html>
<html>
 <head>
 	<meta charset="utf-8"/>
	<title>Minas Cheese</title>
	<link rel="icon" type="image/png" th:href="@{/imagens/comum/logomarca.png}">
	<link th:href="@{/styles/indexCss.css}" rel="stylesheet"/>
	<link th:href="@{/styles/menuNavigation.css}" rel="stylesheet"/>
	<link th:href="@{/styles/menuTop.css}" rel="stylesheet"/>
	<script type="text/javascript" th:src="@{/js/redirect.js}"></script>
	<script type="text/javascript" th:src="@{/js/indexJs.js}"></script>
	<script type="text/javascript" th:src="@{/js/resourcesConteudosProdutos.js}"></script>
	<script type="text/javascript" th:src="@{/js/menuNavigation.js}"></script>
	<script type="text/javascript" th:src="@{/js/scroll.js}"></script>
	<!--<script type="text/javascript" th:src="@{/js/scrolling.js}"></script> -->
 </head>
 <body>
 	<div id="menuTopSistema">
 		<div class="buttonMenuSistemaProfile" id="botaoPerfil">
			<img th:src="@{/imagens/comum/iconePerfil.png}" id="iconePerfil" class="iconeMenuSistema"/>
		</div>
		<div class="caixaInputUsername" id="blocoUsername">
			<span class="textSobInput">Username/Email</span>
			<input type="text" class="inputLogin"/>
		</div>
		<div class="caixaInputPassword" id="blocoPassword">
			<span class="textSobInput">Password</span>
			<input type="password" class="inputLogin"/>
		</div>
		<div class="botaoAcaoLogin" id="botaoLogar">
			<span class="textBotaoAcao" id="textBotaoAcaoLogar" style="left:25%">Logar</span>
		</div>
		<div class="botaoAcaoLogin" id="botaoCadastrar">
			<span class="textBotaoAcao" id="textBotaoAcaoCadastrar">Cadastrar-se</span>
		</div>
		<div class="buttonMenuSistema" id="botaoHelp">
			<img th:src="@{/imagens/comum/iconeHelp.png}" id="iconeHelp" class="iconeMenuSistema"/>
		</div>
		<div class="buttonMenuSistema" id="botaoLocation">
			<img th:src="@{/imagens/comum/iconeLocation.png}" id="iconeLocation" class="iconeMenuSistema"/>
		</div>
		<div class="buttonMenuSistema" id="botaoEncomenda">
			<img th:src="@{/imagens/comum/iconeEncomenda.png}" id="iconeEncomenda" class="iconeMenuSistema"/>
		</div>
 	</div>
	<div id="menuTopNavigation">
		<div class="buttonMenuNavigation" id="button-PaesComuns" onmouseover="funcaoOnMouseOverObjetoMenuNavigatio('PaesComuns')"
		onmouseleave="funcaoOnMouseLeaveObjetoMenuNavigatio('PaesComuns')">
			<span class="textButtonMenu">Paes comums</span>
			<div class="primeiroBLocoDeNavegacao" id="blocoPaesComuns1">
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao" id="centeio">Centeio</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao" id="marraqueta">Marraqueta</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao" id="frances">Frances</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao" id="hallula">Hallula</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao" id="aveia">Aveia</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao" id="linhaca">Linhaça</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao" id="chia">Chia</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao" id="alentejano">Alentejano</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao" id="paoPreto">Pão preto</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao" id="australiano">Australiano</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao" id="ciabatta">Ciabatta</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao" id="focaccia">Focaccia</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao" id="brioche">Brioche</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao" id="baguete">Baguete</span>
				</div>
			</div>
			<div class="segundoBlocoDeNavegacao" id="blocoPaesComuns2">
			</div>
		</div>
		<div class="buttonMenuNavigation" id="button-Especiais" onmouseover="funcaoOnMouseOverObjetoMenuNavigatio('Especiais')"
		onmouseleave="funcaoOnMouseLeaveObjetoMenuNavigatio('Especiais')">
			<span class="textButtonMenu">Especiais</span>
			<div class="primeiroBLocoDeNavegacao" id="blocoEspeciais1">
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">Pão de queijo</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao" style="left:12%;">Com Mortadela</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">Na Chapa</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao" style="left:12%;">Com Requeijão</span>
				</div>
			</div>
			<div class="segundoBlocoDeNavegacao" id="blocoEspeciais2">
			</div>
		</div>
		<div class="buttonMenuNavigation" id="buttonLanches" onmouseover="funcaoOnMouseOverObjetoMenuNavigatio('Lanches')"
		onmouseleave="funcaoOnMouseLeaveObjetoMenuNavigatio('Lanches')">
			<span class="textButtonMenu">Lanches</span>
			<div class="primeiroBLocoDeNavegacao" id="blocoLanches1">
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">X-Burguer</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">X-Salada</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">X-Egg</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">X-Dog</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">X-Frango</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">X-Calabresa</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">X-Coração</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">X-Bacon</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">X-Gaúcho</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">X-Costela</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">X-Tudo</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">Hot-dog</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">X-Churrasco</span>
				</div>
			</div>
			<div class="segundoBlocoDeNavegacao" id="blocoLanches2">
			</div>
		</div>
		<div class="buttonMenuNavigation" id="button-Bebidas" onmouseover="funcaoOnMouseOverObjetoMenuNavigatio('Bebidas')"
		onmouseleave="funcaoOnMouseLeaveObjetoMenuNavigatio('Bebidas')">
			<span class="textButtonMenu">Bebidas</span>
			<div class="primeiroBLocoDeNavegacao" id="blocoBebidas1">
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">Expresso</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">Macchiato</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">Americano</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">Cappucino</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">Fredo</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">Mocha</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">Abacaxi</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">Acerola</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">Maçã</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">Laranja</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">Melancia</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">Limão c/erva</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">Morango</span>
				</div>
					<div class="coluna1">
					<span class="textoTopicoMenuNavegacao" style="left:7%;">Abacaxi c/ortelã</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">Coca-cola</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">Fanta</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">Uva</span>
				</div>
			</div>
			<div class="segundoBlocoDeNavegacao" id="blocoBebidas2">
			</div>
		</div>
		<div class="buttonMenuNavigation" id="button-Salgados" onmouseover="funcaoOnMouseOverObjetoMenuNavigatio('Salgados')"
		onmouseleave="funcaoOnMouseLeaveObjetoMenuNavigatio('Salgados')">
			<span class="textButtonMenu">Salgados</span>
			<div class="primeiroBLocoDeNavegacao" id="blocoSalgados1">
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">Coxinha</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">Risole</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">Quibe</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao" style="font-size:110%;left:8%;">Bolinho de queijo</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">Empada</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">Esfirra</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">Enrolados</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">Pastelzinho</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">Bauru</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao">Empanados</span>
				</div>
				<div class="coluna1">
					<span class="textoTopicoMenuNavegacao" style="font-size:110%;top:7%;">Bolinho d/Mandioca</span>
				</div>
			</div>
			<div class="segundoBlocoDeNavegacao" id="blocoSalgados2">
			</div>
		</div>
		<div class="buttonMenuNavigation" id="button-Encomendar">
			<span class="textButtonMenu">Encomendar</span>
		</div>
	</div>
	<header>
		<img th:src="@{/imagens/index/backgroundPaes.png}" id="backgroundHeader"/>
		<img th:src="@{/imagens/comum/logomarca.png}" id="logomarca"/>
		<div id="blockJuncao">
			<img th:src="@{/imagens/index/juncaoLogomarcaIndex.png}" id="juncaoLogomarca"/>
			<span id="textHeader">Bem vindo ao nosos mundo! Aqui produziremos suas melhores refeições
			e experiências. Atendemos 24h com horários especiais como café da manhã e horário do lanche.
			Nossas especialidades são os pães franceses e paezinhos de queijo, Nosso segredo está na massa
			que é totalmente manipulada por nossas mãos, Servimos diversas formas de pães, tamanhos e recheios.</span>
		</div>
		<img th:src="@{/imagens/comum/close-window.png}" id="botaoFecharContentHeader" onclick="closeContentHeader()"/>
		<script type="text/javascript">
			inicializacao();		
		</script>
	</header>
	<section>
		<article id="articlePaes">
			<img th:src="@{/imagens/index/bakcgroundArticle1.gif}" id="backgroundArticle1">
			<span id="titleArticlePaes">Café da manhã...</span>
			<span id="contentArticlePaes">Servimos as refeições para fazer uma manhã perfeita para você, cafés
			de todos os gostos, sucos naturais e bebidas prontas, também servimos os melhores pães da região,
			preparados para consumir no local ou para levar também como por exemplo um pão com mortadela acompanhado
			de um café com leite. Venha conhecer o local e entender melhor os produtos aqui servidos fresquinhos.</span>
		</article>
		<article id="articleLanches">
			<span id="titleArticleLanches">Lanches</span>
			<div id="blocoXcostela" class="blocoLanches">
				<div class="blocoComCorArticleLanches" id="blocoLanchesXcostela" onclick="openBlocoLanches('blocoLanchesXcostela','imgArticleLanchesXcostela','blocoXcostela')">
					<img th:src="@{/imagens/conteudos/miniaturaXcostela.png}" class="imgArticleLanches" id="imgArticleLanchesXcostela"/>
					<span class="titleBlocoLanches">X - Costela</span>
					<span class="textIngredientesLanches">1 costela minga com 500 g, com osso Sal grosso 3 cebolas cortadas em tiras 1 pão de xis Maionese a gosto Milho a gosto Ervilha a gosto Alface picada a gosto Tomate picado em cubos a gosto Queijo mussarela a gosto Costela desfiada a gosto</span>
				</div>
			</div>
			<div id="blocoHotdog" class="blocoLanches">
				<div class="blocoComCorArticleLanches" id="blocoLanchesHotdog" onclick="openBlocoLanches('blocoLanchesHotdog','imgArticleLanchesHotdog','blocoHotdog')">
					<img th:src="@{/imagens/conteudos/miniaturaHotDog.png}" class="imgArticleLanches" id="imgArticleLanchesHotdog"/>
					<span class="titleBlocoLanches">Hot - dog</span>
					<span class="textIngredientesLanches">Salsicha Perdigão
					- 6 unidades Milho (Quanto Baste)
					- Ervilha (Quanto Baste)
					- Tomates
					- 4 unidadesCebola
					- 1 unidade Salsinha a gosto
					- Batatas para o purê
					- Margarina Claybom - 2 colheres de sopa
					- Batata palha (Quanto Baste)
					-Catchup, Mostarda e Maionese Pão para Hot Dog</span>
				</div>
			</div>
			<div id="blocoPaoComMortadela" class="blocoLanches">
				<div class="blocoComCorArticleLanches" id="blocoLanchesPaoComMortadela" onclick="openBlocoLanches('blocoLanchesPaoComMortadela','imgArticleLanchesPaoComMortadela','blocoPaoComMortadela')">
					<img th:src="@{/imagens/conteudos/miniaturaPaoComMortadela.png}" class="imgArticleLanches" id="imgArticleLanchesPaoComMortadela"/>
					<span class="titleBlocoLanches">c/Mortadela</span>
					<span class="textIngredientesLanches">Pão francês acompanhado com algumas fatias de mortadela da marca preferencial</span>
				</div>
			</div>
			<div id="blocoXbacon" class="blocoLanches">
				<div class="blocoComCorArticleLanches" id="blocoLanchesXbacon" onclick="openBlocoLanches('blocoLanchesXbacon','imgArticleLanchesXbacon','blocoXbacon')">
					<img th:src="@{/imagens/conteudos/miniaturaXbacon.png}" class="imgArticleLanches" id="imgArticleLanchesXbacon"/>
					<span class="titleBlocoLanches">X - Bacon</span>
					<span class="textIngredientesLanches">1 pão francês
					1 hambúrguer
					1 fatia de presunto
					2 fatias de mussarela
					1 pedaço de bacon</span>
				</div>
			</div>
			<div id="blocoXcalabresa" class="blocoLanches">
				<div class="blocoComCorArticleLanches" id="blocoLanchesXcalabresa" onclick="openBlocoLanches('blocoLanchesXcalabresa','imgArticleLanchesXcalabresa','blocoXcalabresa')">
					<img th:src="@{/imagens/conteudos/miniaturaXcalabresa.png}" class="imgArticleLanches" id="imgArticleLanchesXcalabresa"/>
					<span class="titleBlocoLanches" style="font-size:25pt;">X - Calabresa</span>
					<span class="textIngredientesLanches">1,0 unidade de Pão para hambúrguer Pullman
					,2,0 colheres (sopa) de Maionese tradicional Hellmann's
					,1,0 unidade pequena de Tomate
					,1,0 colher (sopa) rasa de Milho verde enlatado
					,1,0 colher (sopa) rasa de Ervilha enlatada
					,1,0 unidade média de Ovo de galinha cru
					,1,0 fatia pequena de Queijo mussarela
					,1,0 fatia pequena de Presunto cozido sem capa de gordura Sadia</span>
				</div>
			</div>
			<div id="blocoXchurrasco" class="blocoLanches">
				<div class="blocoComCorArticleLanches" id="blocoLanchesXchurrasco" onclick="openBlocoLanches('blocoLanchesXchurrasco','imgArticleLanchesXchurrasco','blocoXchurrasco')">
					<img th:src="@{/imagens/conteudos/miniaturaXchurrasco.png}" class="imgArticleLanches" id="imgArticleLanchesXchurrasco"/>
					<span class="titleBlocoLanches" style="font-size:25pt;">X - Churrasco</span>
					<span class="textIngredientesLanches">1 cebola pequena cortada em cubos médios (100 g)
					,500 g de coxão mole, em tiras muito finas
					,1 sachê de Tempero SAZÓN® Toque de Alho
					,1 pitada de sal
					,200 g de muçarela ralada
					,1 maço médio de rúcula higienizada
					,5 baquetes cortadas ao meio no sentido de comprimento</span>
				</div>
			</div>
			<div id="blocoXcoracao" class="blocoLanches">
				<div class="blocoComCorArticleLanches" id="blocoLanchesXcoracao" onclick="openBlocoLanches('blocoLanchesXcoracao','imgArticleLanchesXcoracao','blocoXcoracao')">
					<img th:src="@{/imagens/conteudos/miniaturaXcoracao.png}" class="imgArticleLanches" id="imgArticleLanchesXcoracao"/>
					<span class="titleBlocoLanches" style="font-size:25pt;">X - Coração</span>
					<span class="textIngredientesLanches">1 cebola pequena cortada em cubos médios (100 g)
					,500 g de coxão mole, em tiras muito finas
					,1 sachê de Tempero SAZÓN® Toque de Alho
					,1 pitada de sal
					,200 g de muçarela ralada
					,1 maço médio de rúcula higienizada
					,5 baquetes cortadas ao meio no sentido de comprimento</span>
				</div>
			</div>
			<div id="blocoXfrango" class="blocoLanches">
				<div class="blocoComCorArticleLanches" id="blocoLanchesXfrango" onclick="openBlocoLanches('blocoLanchesXfrango','imgArticleLanchesXfrango','blocoXfrango')">
					<img th:src="@{/imagens/conteudos/miniaturaXfrango.png}" class="imgArticleLanches" id="imgArticleLanchesXfrango"/>
					<span class="titleBlocoLanches">X - Frango</span>
					<span class="textIngredientesLanches">Frango filetado, catupiry, queijo mussarela, maionese da casa e pão com gergelim.</span>
				</div>
			</div>
			<div id="blocoXgaucho" class="blocoLanches">
				<div class="blocoComCorArticleLanches" id="blocoLanchesXgaucho" onclick="openBlocoLanches('blocoLanchesXgaucho','imgArticleLanchesXgaucho','blocoXgaucho')">
					<img th:src="@{/imagens/conteudos/miniaturaXgaucho.png}" class="imgArticleLanches" id="imgArticleLanchesXgaucho"/>
					<span class="titleBlocoLanches">X - Gaúcho</span>
					<span class="textIngredientesLanches">1 pão de xis (ou pão de hambúrguer)
					,Maionese
					,1-2 colheres (sopa) de milho enlatado ou congelado
					,1-2 colheres (sopa) de ervilha enlatada ou congelada
					,100-120g de carne bovina cortada em tiras
					,1 ovo
					,Alface
					,3-4 fatias de tomate</span>
				</div>
			</div>
			<div id="blocoXhotdog" class="blocoLanches">
				<div class="blocoComCorArticleLanches" id="blocoLanchesXhotdog" onclick="openBlocoLanches('blocoLanchesXhotdog','imgArticleLanchesXhotdog','blocoXhotdog')">
					<img th:src="@{/imagens/conteudos/miniaturaXhotdog.png}" class="imgArticleLanches" id="imgArticleLanchesXhotdog"/>
					<span class="titleBlocoLanches">X - Hot dog</span>
					<span class="textIngredientesLanches">Salsicha 1 unidade
					,Pão de Hot Dog 1 unidade
					,Purê de Batatas 1 colher (sopa)
					,Ervilha 1 colher (sobremesa)
					,Milho em conserva 1 colher (sobremesa)
					,Batata palha 1 colher (sobremesa)
					,Tomate 1 colher (sobremesa)
					,Presunto Magro 1 fatia
					,Mussarela 1 fatia</span>
				</div>
			</div>
			<div id="blocoXpicanha" class="blocoLanches">
				<div class="blocoComCorArticleLanches" id="blocoLanchesXpicanha" onclick="openBlocoLanches('blocoLanchesXpicanha','imgArticleLanchesXpicanha','blocoXpicanha')">
					<img th:src="@{/imagens/conteudos/miniaturaXpicanha.png}" class="imgArticleLanches" id="imgArticleLanchesXpicanha"/>
					<span class="titleBlocoLanches">X - Picanha</span>
					<span class="textIngredientesLanches">Dois hambúrgueres de 150g de picanha, cheddar, barbecue e maionese temperada</span>
				</div>
			</div>
			<div id="blocoXtudo" class="blocoLanches">
				<div class="blocoComCorArticleLanches" id="blocoLanchesXtudo" onclick="openBlocoLanches('blocoLanchesXtudo','imgArticleLanchesXtudo','blocoXtudo')">
					<img th:src="@{/imagens/conteudos/miniaturaXtudo.png}" class="imgArticleLanches" id="imgArticleLanchesXtudo"/>
					<span class="titleBlocoLanches">X - Tudo</span>
					<span class="textIngredientesLanches">1 hambúrguer
					50 g de bacon picados
					1 ovo
					2 fatias de presunto
					2 fatias de mussarela (cheddar)
					1 folha de alface
					1 rodela de tomate
					1 pão de hambúrguer
					1 colher de maionese
					Catchup a gosto (opcional)</span>
				</div>
			</div>
		</article>
		<article id="articleEncomenda">
			<img th:src="@{/imagens/comum/backgroundEncomenda.png}" id="backgroundArticle3">
			<span id="titleArticleEncomendas">Encomendas</span>
			<span id="contentArticleEncomendas">Trabalhamos também com encomendas e reservas, basta se comunicar conosco por site, telefone,
			aplicativo, whatsapp ou instagram que iremos dar o melhor suporte e atenção na medida do possivel, as encomendas são feitas
			e deve ser efetuada a encomenda com pelo menos 2 dias de antecedência.</span>
		</article>
	</section>
 </body>
</html>